@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }

    .navy-blue {
        /* Name: Navy Blue color palette
           Author: Ilias Ism
           URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #000080;
        --background: 255 100% 98.5%;
        --foreground: 255 10% 1%;

        --muted: 255 10% 92.5%;
        --muted-foreground: 255 5% 42.5%;

        --popover: 255 10% 92.5%;
        --popover-foreground: 255 10% 1.25%;

        --card: 255 10% 92.5%;
        --card-foreground: 255 10% 1.25%;

        --border: 255 15% 90%;
        --input: 255 15% 90%;

        --primary: 255 100% 25%;
        --primary-foreground: 255 2% 92.5%;

        --secondary: 255 5% 96.25%;
        --secondary-foreground: 255 7% 12.5%;

        --accent: 255 5% 96.25%;
        --accent-foreground: 255 7% 12.5%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 255 100% 25%;

        --radius: 0.5rem;
    }

    .cerulean {
        /* Name: Cerulean color palette
           Author: Ilias Ism
           URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #02a4d3;

        --background: 206 63.699999999999996% 3.36%;
        --foreground: 206 9.8% 97.1%;

        --muted: 206 49% 12.6%;
        --muted-foreground: 206 9.8% 54.2%;

        --popover: 206 45.4% 5.46%;
        --popover-foreground: 206 9.8% 97.1%;

        --card: 206 45.4% 5.46%;
        --card-foreground: 206 9.8% 97.1%;

        --border: 206 49% 12.6%;
        --input: 206 49% 12.6%;

        --primary: 206 98% 42%;
        --primary-foreground: 206 9.8% 97.1%;

        --secondary: 206 49% 12.6%;
        --secondary-foreground: 206 9.8% 97.1%;

        --accent: 206 49% 12.6%;
        --accent-foreground: 206 9.8% 97.1%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 206 9.8% 97.1%;

        --ring: 206 98% 42%;
    }

    .cyan {
        /* Name: Cyan / Aqua color palette
           Author: Ilias Ism
           URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #00ffff;

        --background: 191 65% 4%;
        --foreground: 191 10% 97.5%;

        --muted: 191 50% 15%;
        --muted-foreground: 191 10% 55%;

        --popover: 191 45% 6.5%;
        --popover-foreground: 191 10% 97.5%;

        --card: 191 45% 6.5%;
        --card-foreground: 191 10% 97.5%;

        --border: 191 50% 15%;
        --input: 191 50% 15%;

        --primary: 191 100% 50%;
        --primary-foreground: 191 10% 5%;

        --secondary: 191 50% 15%;
        --secondary-foreground: 191 10% 97.5%;

        --accent: 191 50% 15%;
        --accent-foreground: 191 10% 97.5%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 191 10% 97.5%;

        --ring: 191 100% 50%;
    }

    .malachite {
        /* Name: Malachite color palette
           Author: Ilias Ism
           URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #0bda51;

        --background: 149 59.15% 3.6%;
        --foreground: 149 9.1% 97.25%;

        --muted: 149 45.5% 13.5%;
        --muted-foreground: 149 9.1% 54.5%;

        --popover: 149 46.8% 5.8500000000000005%;
        --popover-foreground: 149 9.1% 97.25%;

        --card: 149 46.8% 5.8500000000000005%;
        --card-foreground: 149 9.1% 97.25%;

        --border: 149 45.5% 13.5%;
        --input: 149 45.5% 13.5%;

        --primary: 149 91% 45%;
        --primary-foreground: 149 9.1% 97.25%;

        --secondary: 149 45.5% 13.5%;
        --secondary-foreground: 149 9.1% 97.25%;

        --accent: 149 45.5% 13.5%;
        --accent-foreground: 149 9.1% 97.25%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 149 9.1% 97.25%;

        --ring: 149 91% 45%;
    }

    .christalle {
        /* Name: Christalle color palette
           Author: Ilias Ism
           URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #33036b;
        --background: 284 99.75% 98.44%;
        --foreground: 284 9.5% 0.88%;

        --muted: 284 9.5% 92.2%;
        --muted-foreground: 284 4.75% 42.2%;

        --popover: 284 14% 92.2%;
        --popover-foreground: 284 9.5% 1.1%;

        --card: 284 14% 92.2%;
        --card-foreground: 284 9.5% 1.1%;

        --border: 284 14.5% 89.88%;
        --input: 284 14.5% 89.88%;

        --primary: 284 95% 22%;
        --primary-foreground: 284 1.9% 92.2%;

        --secondary: 284 4.75% 96.1%;
        --secondary-foreground: 284 6.699999999999999% 12.2%;

        --accent: 284 4.75% 96.1%;
        --accent-foreground: 284 6.699999999999999% 12.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 284 95% 22%;

        --radius: 0.5rem;
    }

    .grape {
        /* Name: Grape color palette
           Author: Ilias Ism
           URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #381a51;
        --background: 290 97.55% 98.42%;
        --foreground: 290 5.1% 0.84%;

        --muted: 290 5.1% 92.1%;
        --muted-foreground: 290 2.55% 42.1%;

        --popover: 290 49.2% 92.1%;
        --popover-foreground: 290 5.1% 1.05%;

        --card: 290 49.2% 92.1%;
        --card-foreground: 290 5.1% 1.05%;

        --border: 290 10.1% 89.84%;
        --input: 290 10.1% 89.84%;

        --primary: 290 51% 21%;
        --primary-foreground: 290 1.02% 92.1%;

        --secondary: 290 2.55% 96.05%;
        --secondary-foreground: 290 4.0600000000000005% 12.1%;

        --accent: 290 2.55% 96.05%;
        --accent-foreground: 290 4.0600000000000005% 12.1%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 290 51% 21%;

        --radius: 0.5rem;
    }

    .kingfisher-daisy {
        /* Name: Kingfisher Daisy color palette
           Author: Ilias Ism
           URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #3e0480;

        --background: 285 61.099999999999994% 2.08%;
        --foreground: 285 9.399999999999999% 96.3%;

        --muted: 285 47% 7.800000000000001%;
        --muted-foreground: 285 9.399999999999999% 52.6%;

        --popover: 285 46.2% 3.38%;
        --popover-foreground: 285 9.399999999999999% 96.3%;

        --card: 285 46.2% 3.38%;
        --card-foreground: 285 9.399999999999999% 96.3%;

        --border: 285 47% 7.800000000000001%;
        --input: 285 47% 7.800000000000001%;

        --primary: 285 94% 26%;
        --primary-foreground: 285 9.399999999999999% 96.3%;

        --secondary: 285 47% 7.800000000000001%;
        --secondary-foreground: 285 9.399999999999999% 96.3%;

        --accent: 285 47% 7.800000000000001%;
        --accent-foreground: 285 9.399999999999999% 96.3%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 285 9.399999999999999% 96.3%;

        --ring: 285 94% 26%;
    }

    .electric-lime {
        /* Name: Electric Lime color palette
           Author: Ilias Ism
           URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #ccff00;

        --background: 77 65% 4%;
        --foreground: 77 10% 97.5%;

        --muted: 77 50% 15%;
        --muted-foreground: 77 10% 55%;

        --popover: 77 45% 6.5%;
        --popover-foreground: 77 10% 97.5%;

        --card: 77 45% 6.5%;
        --card-foreground: 77 10% 97.5%;

        --border: 77 50% 15%;
        --input: 77 50% 15%;

        --primary: 77 100% 50%;
        --primary-foreground: 77 10% 5%;

        --secondary: 77 50% 15%;
        --secondary-foreground: 77 10% 97.5%;

        --accent: 77 50% 15%;
        --accent-foreground: 77 10% 97.5%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 77 10% 97.5%;

        --ring: 77 100% 50%;
    }

    .rum-swizzle {
        /* Name: Rum Swizzle color palette
           Author: Ilias Ism
           URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #f9f8e4;

        --background: 61 41.6% 7.52%;
        --foreground: 61 6.4% 99.7%;

        --muted: 61 32% 28.2%;
        --muted-foreground: 61 6.4% 59.4%;

        --popover: 61 52.2% 12.219999999999999%;
        --popover-foreground: 61 6.4% 99.7%;

        --card: 61 52.2% 12.219999999999999%;
        --card-foreground: 61 6.4% 99.7%;

        --border: 61 32% 28.2%;
        --input: 61 32% 28.2%;

        --primary: 61 64% 94%;
        --primary-foreground: 61 6.4% 9.399999999999999%;

        --secondary: 61 32% 28.2%;
        --secondary-foreground: 61 6.4% 99.7%;

        --accent: 61 32% 28.2%;
        --accent-foreground: 61 6.4% 99.7%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 61 6.4% 99.7%;

        --ring: 61 64% 94%;
    }

    .bg-gradient {
        background: var(--gradient);
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
